.bg-black{
	background-color: black; 
}


img{
	width: 100%;
	height: 100%
}
.btn{

	display: inline-block;
	width: 100px;
	height: 100px;
	background: white;
	margin: 5px;
	border-radius: 60%;
	box-shadow: 0 5px 15px -5px blue;
	color: red;
	overflow: hidden;
	position: relative;
}
.btn i{
	line-height: 90px;
	font-size: 26px;
	transition: 0.2s linear;
}
.btn:hover  i{
	transform: scale(3.3);
	color: skyblue;

}
.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background:blue;
	transform: rotate(45deg);
	left: -110%;
	top: 88%;
} 
.btn:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}
@keyframes aaa{
	0%{
		left:-110%;
		top: 90%;
	}50%{
		left:10%;
		top: -30%;

	}100%{
		left:-10%;
		top: -10%;
	}
}

.font-div{
	width: 30%;
}
@media only  screen and (min-width: 1047px){

	.font-div{

          padding: 40.5px 0px!important;
	
	}
	
	}
	
	

}